:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;

  --color-white: #ffffff;
  --color-black: #333333;

  --color-grey-100: #ebebeb;
  --color-grey-200: #dddddd;
  --color-grey-300: #c0c0c0;

  --color-slate-100: #d1d1e5;
  --color-slate-200: #bcbcbc;
  --color-slate-300: #85859b;
  --color-slate-400: #666666;
  --color-slate-500: #4c5866;

  --color-violet-300: #dad9fb;
  --color-violet-500: #7875fe;
  --color-violet-600: #4946b4;

  --border-round: 9999px;
}
