.search {
  &-button {
    width: rem(24);
    height: rem(24);
    border: none;
    background: none;
    outline: none;

    &:hover {
      & svg {
        stroke: var(--color-violet-500);
      }
    }

    &:active {
      & svg {
        stroke: var(--color-violet-600);
      }
    }

    &:focus-visible {
      background-color: var(--color-violet-300);

      & svg {
        stroke: var(--color-violet-500);
      }
    }

    & svg {
      width: rem(24);
      height: rem(24);
      stroke: var(--color-slate-500);
      transition: stroke 0.2s ease-in 0s;
    }
  }

  &-input {
    display: none;
  }
}
