<section class="partners section section_dark">
  <div class="partners-container container">
    <div class="partners-item">
      <img
        class="partners-item__image"
        src="/src/assets/images/icons/hahnemuehle.svg"
        alt="Логотип hahnemuehle" />
    </div>
    <div class="partners-item">
      <img
        class="partners-item__image"
        src="/src/assets/images/icons/canson.svg"
        alt="Логотип canson" />
    </div>
    <div class="partners-item">
      <img
        class="partners-item__image"
        src="/src/assets/images/icons/royal-talens.svg"
        alt="Логотип royal-talens" />
    </div>
    <div class="partners-item">
      <img
        class="partners-item__image"
        src="/src/assets/images/icons/fabriano.svg"
        alt="Логотип fabriano" />
    </div>
  </div>
</section>
