<section class="sketch">
  <div class="sketch-container container">
    <div class="sketch-content">
      <h2 class="title">Simple скетчбук</h2>
      <p class="sketch-content__text">
        80 листов, твердая обложка, бумага Fabriano 200 г/м2. Подойдет и для
        графики и для акварели. Для самых смелых творческих замыслов!
      </p>
      <button class="sketch-content__button button">Купить</button>
    </div>
    <img class="sketch__image" src="/src/assets/images/pic.png" alt="sketch" />
  </div>
</section>
