<section class="stages section section_dark">
  <div class="container">
    <ul class="stages-list">
      <li class="stages-list__item">
        <img
          class="stages-list__image"
          src="/src/assets/images/folder-01.png"
          alt="v.1" />
        <div>
          <h3 class="stages-list__title">V.1</h3>
          <p class="stages-list__text">Результат вашего обучения</p>
        </div>
      </li>
      <li class="stages-list__item">
        <img
          class="stages-list__image"
          src="/src/assets/images/folder-02.png"
          alt="v.1" />
        <div>
          <h3 class="stages-list__title">V.2</h3>
          <p class="stages-list__text">Результат вашего обучения</p>
        </div>
      </li>
      <li class="stages-list__item">
        <img
          class="stages-list__image"
          src="/src/assets/images/folder-03.png"
          alt="v.1" />
        <div>
          <h3 class="stages-list__title">V.3</h3>
          <p class="stages-list__text">Результат вашего обучения</p>
        </div>
      </li>
    </ul>
    <div class="stages-content">
      <img
        class="stages-content__image"
        src="/src/assets/images/folder-full.png"
        alt="folder-full" />
      <div>
        <h2 class="stages-content__title title">Максимальная белизна</h2>
        <div class="stages-content__text">
          <p>
            Для повышения белизны, гладкости и мягкости в состав бумажной массы
            вводят белые минеральные вещества: мел, тальк, каолин и др. Эта
            операция называется наполнением.
          </p>
          <p>
            Отлив бумажного листа осуществляют на бумагоделательной машине,
            важнейшей частью которой является непрерывно движущаяся (как
            транспортер) металлическая или капроновая сетка.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
