*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

img,
svg {
  vertical-align: top;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
}

input {
  font-family: inherit;

  &[type='number'] {
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

textarea {
  font-family: inherit;
}

select {
  font-family: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
