.logo {
  display: flex;
  align-items: center;
  gap: rem(5);

  &_dark {
    --color-logo: var(--color-black);
  }

  &_light {
    --color-logo: var(--color-white);
  }

  &__circle {
    width: rem(17);
    height: rem(17);
    border: rem(1) solid var(--color-logo);
    border-radius: var(--border-round);
  }

  &__ellipse {
    width: rem(32);
    height: rem(17);
    border: rem(1) solid var(--color-logo);
    border-radius: var(--border-round);
  }

  &__text {
    font-family: var(--font-ubuntu);
    font-size: rem(20);
    font-weight: 300;
    color: var(--color-logo);
  }
}
