.title {
  font-size: rem(24);
  font-weight: 400;
  color: var(--color-slate-400);

  @include media-width(768) {
    font-size: rem(30);
  }

  @include media-width(1170) {
    font-size: rem(40);
  }
}
