:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;

  --color-white: #ffffff;
  --color-black: #333333;
  --colot-grey-100: #ebebeb;
  --colot-grey-200: #c0c0c0;
  --color-slate-500: #4c5866;
  --color-slate-300: #85859b;
  --color-slate-100: #d1d1e5;
  --color-violet-600: #4946b4;
  --color-violet-500: #7875fe;
  --color-violet-300: #dad9fb;
}
